body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.tips-container {
  height: 260px;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 7px rgb(227, 177, 84);
  background-color: rgb(147, 27, 173);
}
h1 {
  color: #fff;
}

.calculator {
  max-width: 200px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 10px;
}
label {
  width: 120px;
  text-align: right;
}

input[type="number"] {
  width: 100px;
  height: 20px;
  border-radius: 5px;
}
button {
  padding: 5px 45px;
  border-radius: 7px;
  font-size: 13px;
  color: rgb(3, 3, 3);
  background-color: rgb(247, 247, 249);
}
button:hover {
  background-color: rgb(67, 128, 53);
}

input[type="text"] {
  width: 100%;
}

#result {
  font-weight: bold;
  margin-top: 10px;
}
